<!DOCTYPE HTML>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <title>{{ book_title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ path_to_root }}css/variables.css">
    <link rel="stylesheet" href="{{ path_to_root }}css/general.css">
    <link rel="stylesheet" href="{{ path_to_root }}css/chrome.css">
    <link rel="stylesheet" href="{{ path_to_root }}css/print.css" media="print">

    {{#if additional_css}}
        {{#each additional_css}}
            <link rel="stylesheet" href="{{ ../path_to_root }}{{ this }}">
        {{/each}}
    {{/if}}
</head>

<body>

<div id="body-container">
    {{> sidebar}}

    <div id="page-wrapper">
        <div id="page">
            {{> header}}

            <div id="content">
                {{{ content }}}
            </div>
        </div>
    </div>
</div>

<!-- ✅ highlight.js -->
<script src="{{ path_to_root }}highlight.js"></script>

<!-- ✅ tua lingua custom: DEVE stare qui -->
<script src="{{ path_to_root }}theme/highlight-asmeta.js"></script>

<!-- ✅ mdBook core -->
<script src="{{ path_to_root }}book.js"></script>

<!-- eventuali altri script -->
{{#if additional_js}}
    {{#each additional_js}}
        <script src="{{ ../path_to_root }}{{ this }}"></script>
    {{/each}}
{{/if}}

</body>
</html>
